<div class="row" data-live-edit-type="layout">


    <div data-live-edit-type="region" class="col-sm-12">

        <div class="row">
            <div data-live-edit-type="region" class="col-sm-4" style="z-index: 1000;">

                <div data-th-each="component : ${leftRegion.components}" data-th-remove="tag">
                    <div data-wem-component="${component.path}" data-th-remove="tag"/>
                </div>
            </div>
        </div>

        <div data-th-each="component : ${mainRegion.components}" data-th-remove="tag">
            <div data-wem-component="${component.path}" data-th-remove="tag"/>
        </div>

    </div>

</div>
